.cover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 470px;
    
    &:hover{
    background: linear-gradient( to top, rgba(252,227,138, 0.9) 0%, rgba(243,129,129, 0.9) 100%);
    box-shadow: 10px 10px 0px #95e1d3;
    width: 100%;
    height: 470px;
    }

    &:hover .cover__link{
    opacity: 1;
    }
}


.cover__list{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 470px;
}
.cover__link{
    width: 56px;
    height: 56px;
    background-color: $color-cover;
    margin-right: 2px;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
    &:hover{
    background-color: $color-cover-hover;
    transition: 0.3s ease-in;
}
}

