.nav-list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-width: 620px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.nav-list__link{
    font-family: $main-font-stack;
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    border-bottom: 3px solid transparent;
    line-height: 30px;
}
.nav-list__link{
    font-family: $main-font-stack;
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    border-bottom: 3px solid transparent;
    line-height: 30px;
}
.nav-list__link:hover{
    border-bottom: 3px solid rgb(252, 227, 138);
    color: rgb(252, 227, 138);
}