.section-service__subtitle{
    font-size: 14px;
    font-family: $font-primary;
    text-transform: uppercase;
    color: #333333;
    margin-bottom: 10px;
}
.section-service__text{
    font-size: 15px;
    font-family: $font-section-text;
    color: #999999;
}